In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
*
**
***
****
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print('*', end='')
        j += 1
    print()
    i += 1

4
*
**
***
****

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
21
321
4321
'''

n = int(input())

i = 1
while(i<=n):
    j = i
    while(j>=1):
        print(j, end='')
        j -= 1
    print()
    i += 1

4
1
21
321
4321

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
22
333
4444
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print(i, end='')
        j += 1
    print()
    i += 1

4
1
22
333
4444

In [ ]:
'''
Pattern for N=4
ABCD
ABCD
ABCD
ABCD
'''

n = int(input())

i = 1
while(i<=n):
  j = 1
  while(j<=n):
    charP = chr(ord('A') + j - 1)
    print(charP, end='')
    j += 1
  print()
  i += 1

4
ABCD
ABCD
ABCD
ABCD

In [ ]:
'''
Pattern for N=4
ABCD
BCDE
CDEF
DEFG
'''

n = int(input())

i = 1
while(i<=n):
  j = 1
  start_char = chr(ord('A') + i - 1)
  while(j<=n):
    charP = chr(ord(start_char) + j - 1)
    print(charP, end='')
    j += 1
  print()
  i += 1

4
ABCD
BCDE
CDEF
DEFG

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
A
BC
CDE
DEFG
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    start_char = chr(ord('A') + i - 1)
    while(j<=i):
        charP = chr(ord(start_char) + j - 1)
        print(charP, end='')
        j += 1
    print()
    i += 1

4
A
BC
CDE
DEFG

In [ ]:
'''
Print the following pattern for the given number of rows.
Pattern for N = 5
E
DE
CDE
BCDE
ABCDE
'''

n = int(input())

temp = n
i = 1
while(i<=n):
    j = 1
    start_char = chr(ord('A') + temp - 1)
    while(j<=i):
        charP = chr(ord(start_char) + j - 1)
        print(charP, end='')
        j += 1
    temp -= 1
    print()
    i += 1

5
E
DE
CDE
BCDE
ABCDE

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
11
111
1111
'''

n = int(input())
i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print('1', end='')
        j += 1
    print()
    i += 1

4
1
11
111
1111

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
11
202
3003
'''

n = int(input())
i = 1
while(i<=n): 
    j = 1
    while(j<=i):
        if(i==1):
            print("1", end='')
        elif(j==1 or j==i):
            print(i-1, end='')
        else:
            print(0, end='')
        j += 1
    print()
    i += 1

4
1
11
202
3003

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
11
121
1221
'''

n = int(input())
i = 1
while(i<=n): 
    j = 1
    while(j<=i):
        if(i==1):
            print("1", end='')
        elif(j==1 or j==i):
            print(1, end='')
        else:
            print(2, end='')
        j += 1
    print()
    i += 1

4
1
11
121
1221

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
1234
123
12
1
'''

n = int(input())
i = n
while(i>=1):
    j = 1
    while(j<=i):
        print(j, end='')
        j += 1
    print()
    i -= 1

4
1234
123
12
1

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 3
 A
 BB
 CCC
 '''

n = int(input())
i = 1
while(i<=n):
    j = 1
    charP = chr(ord('A') + i - 1)
    while(j<=i):
        print(charP, end='')
        j += 1
    print()
    i += 1

3
A
BB
CCC

In [ ]:
'''
****
***
**
*
'''

n = int(input())
i = 1
while(i<=n):
  j = 1
  while(j <= n-i+1):
    print('*', end='')
    j += 1
  print()
  i += 1

4
****
***
**
*

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4
4444
333
22
1
'''

n = int(input())
i = n
while(i>=1):
    j = 1
    while(j <= i):
        print(i, end='')
        j += 1
    print()
    i -= 1

5
55555
4444
333
22
1

In [ ]:
'''
   *
  **
 ***
****
'''

n = int(input())
i = 1
while(i<=n):
    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1
    stars = 1
    while(stars <= i):
        print('*', end='')
        stars += 1
    print()
    i += 1

4
   *
  **
 ***
****

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4

   1
  12
 123
1234
'''

n = int(input())
i = 1
while(i<=n):
    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1
    num = 1
    while(num <= i):
        print(num, end='')
        num += 1
    print()
    i += 1

4
   1
  12
 123
1234

In [ ]:
'''
Print the following pattern for the given N number of rows.
Pattern for N = 4

   1
  121
 12321
1234321
'''

n = int(input())
i = 1
while(i<=n):

    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1

    inc_num = 1
    while(inc_num <= i):
        print(inc_num, end='')
        inc_num += 1

    dec_num = i-1
    while(dec_num>=1):
      print(dec_num, end='')
      dec_num -= 1

    print()
    i += 1

4
   1
  121
 12321
1234321

In [ ]:
'''
Print the following pattern
Pattern for N = 4

   *
  ***
 *****
*******
'''

n = int(input())
i = 1
while(i<=n):
    
    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1
        
    inc_stars = 1
    while(inc_stars<=i):
        print('*', end='')
        inc_stars += 1
        
    dec_stars = i-1
    while(dec_stars>=1):
        print('*', end='')
        dec_stars -= 1
        
    print()
    i += 1

4
   *
  ***
 *****
*******

In [ ]:
'''
Print the following pattern for the given number of rows.
Pattern for N = 4

    1
   232
  34543
 4567654
567898765
'''

n = int(input())
i = 1
while(i<=n):
    
    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1
        
    col = 1
    inc_num = i
    while(col<=i):
        print(inc_num, end='')
        inc_num += 1
        col += 1
        
    col = 1
    dec_num = 2*(i-1)
    while(col<i):
        print(dec_num, end='')
        dec_num -= 1
        col += 1
    
    print()
    i += 1

5
    1
   232
  34543
 4567654
567898765

In [ ]:
'''
Print the following pattern for the given number of rows.
Note: N is always odd.
Pattern for N = 5

  *
 ***
*****
 ***
  *
'''

n = int(input())
i = 0
temp = (n//2) + 1
while(i < temp):
    
    spaces = 1
    while(spaces <= (n//2)-i):
        print(' ', end='')
        spaces += 1
    
    up_stars = 1
    while(up_stars <= 2*i+1):
        print('*', end='')
        up_stars += 1
    
    print()
    i += 1
    
i = (n-2)//2
while(i>=0):
    
    spaces = 1
    while(spaces <= (n//2)-i):
        print(' ', end='')
        spaces += 1
    
    down_stars = 1
    while(down_stars <= 2*i+1):
        print('*', end='')
        down_stars += 1
        
    print()
    i -= 1

5
  *
 ***
*****
 ***
  *

In [ ]:
'''
Print the following pattern for n number of rows.
For eg. N = 5

1        1
12      21
123    321
1234  4321
1234554321
'''

n = int(input())
rows = 1
while(rows<=n):
    
    col = 1
    while(col<=rows):
        print(col, end='')
        col += 1
        
    spaces = 1
    while(spaces <= n-rows):
        print(' ', end='')
        spaces += 1
        
    spaces = 1
    while(spaces <= n-rows):
        print(' ', end='')
        spaces += 1
      
    col = rows
    while(col >= 1):
        print(col, end='')
        col -= 1
    
    print()
    rows += 1

5
1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
'''
Print the following pattern
Pattern for N = 4

*000*000*
0*00*00*0
00*0*0*00
000***000

Pattern for N = 5

*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

'''

n = int(input())
rows = 0
while(rows <= n-1):
    
    zero = 1
    while(zero <= rows):
        print('0', end='')
        zero += 1
    
    print('*', end='')
    
    zero = 1
    while(zero <= n-rows-1):
        print('0', end='')
        zero += 1
   
    print('*', end='')

    
    zero = 1
    while(zero <= n-rows-1):
        print('0', end='')
        zero += 1
        
    print('*', end='')
    
    zero = 1
    while(zero <= rows):
        print('0', end='')
        zero += 1
    
    print()
    rows += 1

5
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

In [ ]:
'''
Print the following pattern for the given number of rows.
Pattern for N = 4
   1
  212
 32123
4321234
'''

n = int(input())
row = 1
while(row<=n):
    
    col = 1
    while(col <= n-row):
        print(' ', end='')
        col += 1
    
    col = row
    while(col >= 1):
        print(col, end='')
        col -= 1
        
    col = 1
    temp = 2
    while(col <= row-1):
        print(temp, end='')
        col += 1
        temp += 1
         
    print()
    row += 1

4
   1
  212
 32123
4321234

In [ ]:
'''
Print the following pattern for the given number of rows.
Assume N is always odd.
Note : There is space after every star.
Pattern for N = 7

*
 * *
   * * *
     * * * *
   * * *
 * *
*

'''

n = int(input())
row = 1
while(row <= (n+1)//2):
    
    spaces = 1
    while(spaces < row):
        print(' ', end='')
        spaces += 1
        
    stars = 1
    while(stars <= row):
        print('* ', end='')
        stars += 1
        
    print()
    row += 1

row = n//2
while(row>=1):
    
    spaces = 1
    while(spaces <= row-1):
        print(' ', end='')
        spaces += 1
        
    stars = 1
    while(stars <= row):
        print('* ', end='')
        stars += 1
        
    print()
    row -= 1

9
*
 * *
  * * *
   * * * *
    * * * * *
   * * * *
  * * *
 * *
*