**Print**

In [ ]:
print("Hello")      # Automatically adds new line
print("Hello")

Hello
Hello

**Variables**

In [ ]:
# Variabel cannot start with digits for ex. 12_abc is invalid
# Hash is used for single line comment
a = 10
b = 90
sum = a+b
print(sum)

100

In [ ]:
# Python is dynamically typed language
a = 25
print(type(a))
a = 'Hello'
print(type(a))
print(a)

<class 'int'>
<class 'str'>
Hello

**Numbers in Python**

In [ ]:
# There is no size of integers or any other datatype in python
a1 = 12
a2 = 3.5
a3 = 5 + 2j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# id function gives a specific number associated with storage or address 
a = 5
print(id(a))
a = a + 2
print(id(a))

# from value -5 to 256, id is same for different variables
b = 7
print("Id of a =", id(a))
print("Id of b =", id(b))

# Value not in range -5 to 256, id is different for different variables
a = 1000
b = 1000
print("Id of a =", id(a))
print("Id of b =", id(b))

94855952792192
94855952792256
Id of a = 94855952792256
Id of b = 94855952792256
Id of a = 140129974860464
Id of b = 140129974858032

**Arithmetic Operators**

In [ ]:
a = 10
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)    # Floating point division
print(a // b)   # Integer division - Quotient
print(a % b)    # Modulus - Remainder
print(a ** b)   # a power b

15
5
50
2.0
2
0
100000

**Input - Output Operations**

In [ ]:
a = input()
b = input()
print(type(a))
print(type(b))
print(a+b, '\n')

a = int(input())
b = int(input())
print(type(a))
print(type(b))
print(a+b, '\n')

a = float(input())
b = float(input())
print(type(a))
print(type(b))
print(a+b)

12
34
<class 'str'>
<class 'str'>
1234

25
10
<class 'int'>
<class 'int'>
35

3.2
2.4
<class 'float'>
<class 'float'>
5.6