**TUPLES**

In [ ]:
a = (1,2)
print(a)
print(type(a))

a = 1,2
print(a)
print(type(a))

print(a[0])
print(a[-1])

(1, 2)
<class 'tuple'>
(1, 2)
<class 'tuple'>
1
2

In [ ]:
a = 5,6,7
print(a[1:])

(6, 7)

In [ ]:
a = 1,2
b = (4,5)
d = (a,b)
print(d[0])

(1, 2)

In [ ]:
a = 1,2
b = (4,5)
d = a+b
print(d[2])

4

In [ ]:
a = ('ab','abc','def')
print(min(a))

ab

In [ ]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(type(more))
    ans = a+b
    for i in more:
        ans = ans+i
    return ans

print(sum2(2,3,4,5))

2
3
<class 'tuple'>
14

In [ ]:
def multiply(a,b,c,*more):
    value = a*b*c
    for i in more:
        value = value * i
    return value
V = multiply(1,2,3,4,5)
print(V)

120

In [ ]:
def sum_multiply(a,b,*more):
    sum_value = a+b
    m_value = a*b
    for i in more:
        sum_value += i
        m_value*=i
    return sum_value,m_value
s_m = sum_multiply(2,3,4)
print(s_m)

(9, 24)

**DICTIONARY**

In [1]:
a = {}
print(type(a))

<class 'dict'>

In [4]:
a = {"the":1,"a":5,10000:"abc"}
print(a)
print(len(a))

b = a.copy()
print(b)

{'the': 1, 'a': 5, 10000: 'abc'}
3
{'the': 1, 'a': 5, 10000: 'abc'}

In [6]:
c = dict([("the",3),("a",10),(2,3)])
print(c)

{'the': 3, 'a': 10, 2: 3}

In [10]:
d = dict.fromkeys(["abc",32,4])
print(d)

d = dict.fromkeys(["abc",32,4], 0)
print(d)

{'abc': None, 32: None, 4: None}
{'abc': 0, 32: 0, 4: 0}

In [13]:
a = {1:2, 3:4, "list":[1,23], "dict":{1:2}}
print(a)
print(a[1])
print(a[3])
print(a['list'])
print(a['dict'])

print(a.items())
print(a.keys())
print(a.values())

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}}
2
4
[1, 23]
{1: 2}
dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1: 2})])
dict_keys([1, 3, 'list', 'dict'])
dict_values([2, 4, [1, 23], {1: 2}])

In [17]:
a = {1:2, 3:4, "list":[1,23], "dict":{1:2}}
for i in a:
  print(i, '\t',a[i])

for i in a.values():
  print(i)

1 	 2
3 	 4
list 	 [1, 23]
dict 	 {1: 2}
2
4
[1, 23]
{1: 2}

In [19]:
# By default get() returns None or second argument(here 5) if the key is not present otherwise it will return the value
d = {1:2, 'abc':5, 'def':7}
print(d.get(0,5))

5

In [20]:
d = {1:2, 'abc':5, 'def':7}
if 2 in d:
    print('Present')
else:
    print('Not Present')

Not Present

In [32]:
# Add data in dictionary
a = {1:2, 3:4, "list":[1,23], "dict":{1:2}}
a['tuple']=(1,2,3)
print(a)


# Update data in dictionary
a['tuple']=(1,2,3,4,5)
print(a)

b = {3:5, 'the':4, 2:100}
a.update(b)
print(a)


# Delete data in dictionary
print(a.pop(2))
print(a)

del a[3]
print(a)


# Deleting or Clearing whole dictionary
a.clear()  # Empties the dictionary
print(a)

del a      # deletes the dictionary

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3)}
{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3, 4, 5)}
{1: 2, 3: 5, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3, 4, 5), 'the': 4, 2: 100}
100
{1: 2, 3: 5, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3, 4, 5), 'the': 4}
{1: 2, 'list': [1, 23], 'dict': {1: 2}, 'tuple': (1, 2, 3, 4, 5), 'the': 4}
{}

In [33]:
a = {1:2, 'list':[1,2], 3:5}
b = {4:5,3:7}
a.update(b)
print(a[3])

7

In [34]:
a = {1:2, 'list':[1,2], 3:5}
a.pop('list')
a['list'] = [3,5]
print(a['list'])

[3, 5]

In [37]:
# Print the words from the string which has frequency k
s = "this is a word string having many many word"
k = 2
words = s.split()
print(words)

print()
# Logic-1
d = {}
for w in words:
  if w in d:
    d[w]=d[w]+1
  else:
    d[w]=1
print(d)

for x in d:
  if d[x]==k:
    print(x)


print()
# Logic-2
d = {}
for w in words:
  d[w]=d.get(w,0)+1
print(d)

for x in d:
  if d[x]==k:
    print(x)

['this', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}
word
many

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}
word
many

**SETS**

In [58]:
# There is no indexing in sets
a = set()               # creating empty set
a = {"abc","def",23}
print(type(a))
print(a)

print()
for v in a:
  print(v)

print('\n',len(a),'\n')

# adding element to sets
a.add("temp")
print(a,'\n')

# updating sets
b = {'abc','ghi'}
a.update(b)
print(a,'\n')

# removing values from sets
a.remove('temp')
a.discard(23)     # discard is better than remove because we do not get errors in discard if the value is not present
print(a,'\n')

# clearing and deleting sets
a.clear()
print(a)
del a

<class 'set'>
{'def', 23, 'abc'}

def
23
abc

 3

{'def', 23, 'temp', 'abc'}

{'ghi', 'temp', 23, 'abc', 'def'}

{'ghi', 'abc', 'def'}

set()

In [54]:
# Functions in Sets

a = {1,2,3,4}
b = {3,4,5,6}

print(a.intersection(b),'\n')

print(a.union(b),'\n')

print(a.difference(b),'\n')

print(b.difference(a),'\n')

a.symmetric_difference(b)    # Union-Intersecion
print(a,'\n')

a.intersection_update(b)  # Gets intersection and updates to a
print(a,'\n')

a.difference_update(b)
print(a,'\n')

a.symmetric_difference_update(b)
print(a,'\n')

{3, 4}

{1, 2, 3, 4, 5, 6}

{1, 2}

{5, 6}

{1, 2, 3, 4}

{3, 4}

set()

{3, 4, 5, 6}

In [56]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {3,4}
d = {7,8}

print(a.issubset(b),'\n')

print(a.issubset(c),'\n')

print(c.issubset(a),'\n')

print(a.issuperset(c),'\n')

print(a.isdisjoint(b),'\n')

print(a.isdisjoint(d),'\n')

False

False

True

True

False

True

In [57]:
s = {1,2,3,5,4,2,3,1}
print(len(s),end= ' ')
s.add(4)
s.add(3)
print(len(s))

5 5

In [61]:
# Sum of unique elements in list
def sumUnique(l):
    s=set()
    for i in l:
        s.add(i)
    sum=0
    for i in s:
        sum=sum+i
    return sum

print(sumUnique([1,2,3,4,3,4,2,1,5,5]))

15