In [ ]:
n = 'abcdefgh'
for i in n:
  print(i)

a
b
c
d
e
f
g
h

In [ ]:
# range(start, end, stride/step) 
# By default start=0 and stride/step=1

n = int(input())

# 0 to n
for i in range(0,n,1):
  print(i)

print()
# n to 1
for i in range(n,0,-1):
  print(i)

5
0
1
2
3
4

5
4
3
2
1

In [ ]:
'''
   1
  232
 34543
4567654
'''

n = int(input())
for i in range(1, n+1, 1):
  for j in range(n-i):
    print(' ', end='')
  for j in range(i, 2*i, 1):
    print(j, end='')
  for j in range(2*i-2, i-1, -1):
    print(j, end='')
  print()

4
   1
  232
 34543
4567654

In [ ]:
i=1
while i<3:
    j=1
    while j<5:
        if j==3:
            break
        print(j,end=' ')
        j = j + 1
    i = i + 1

1 2 1 2

In [ ]:
i=1
while i<5:
    if i == 6:
        break
    print(i,end=" ")
    i = i + 1
else:
    print('Else is also printed')

1 2 3 4 Else is also printed

In [ ]:
i=1
while i<5:
    if i == 3:
        break
    print(i,end=' ')
    i = i + 1
else:
    print('Else is also printed')

1 2

In [ ]:
i=1
while i<3:
    j=0
    while j<5:
        j = j +1
        if j==3:
            continue
        print(j,end=' ')
    i = i +1

1 2 4 5 1 2 4 5