**ASSIGNMENT PROBLEMS**

In [ ]:
'''
Binary Pattern

Print the following pattern for the given number of rows.
Pattern for N = 4
1111
000
11
0

Input format : N (Total no. of rows)
Output format : Pattern in N lines

Sample Input :
5
Sample Output :
11111
0000
111
00
1
'''

n = int(input())
for i in range(1, n+1):
    if(i%2 != 0):
        print('1'*(n-i+1))
    else:
        print('0'*(n-i+1))

5
11111
0000
111
00
1

In [ ]:
'''
Print Number Pyramid
Print the following pattern for a given n.
For eg. N = 6

123456
  23456
    3456
      456
        56
          6
        56
      456
    3456
  23456
123456

Sample Input 1 :
4
Sample Output 1 :
1234
  234
    34
      4
    34
  234
1234
'''

n = int(input())

for i in range(1, n+1):
    for j in range(i-1):
        print(' ', end='')
    for j in range(i,n+1):
        print(j, end='')
    print()
    
for i in range(1, n):
    for j in range(1, n-i):
        print(' ', end='')
    for j in range(n-i, n+1):
        print(j, end='')
    print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [ ]:
'''
Diamond of Stars
Print the following pattern for the given number of rows.
Note: N is always odd.

Pattern for N = 5

Input format :
N (Total no. of rows and can only be odd)
Output format :
Pattern in N lines

Constraints :
1 <= N <= 49

Sample Input 1:
5
Sample Output 1:
  *
 ***
*****
 ***
  *

Sample Input 2:
3
Sample Output 2:
  *
 ***
  *
'''

n = int(input())

for i in range(1, (n+1)//2 + 1, 1):
    for j in range(0, ((n//2)+1)-i, 1):
        print(' ', end='')
    for j in range(1, 2*i, 1):
        print('*', end='')
    print()

for i in range((n//2), 0, -1):
    for j in range((n//2)-i+1):
        print(' ', end='')
    for j in range(2*i-1):
        print('*', end='')
    print()

5
  *
 ***
*****
 ***
  *

In [ ]:
'''
Rectangular numbers
Print the following pattern for the given number of rows.
Pattern for N = 4
4444444
4333334
4322234
4321234
4322234
4333334  
4444444

Input format : N (Total no. of rows)
Output format : Pattern in N lines

Sample Input :
3
Sample Output :
33333
32223
32123
32223
33333
'''

n = int(input())
s = 2 * n - 1
 
# Upper Half
for i in range(0, int(s/2) + 1):
    m = n
    
    # Decreasing part
    for j in range(0, i):
        print(m ,end= "" )
        m-=1
        
    # Constant Part
    for k in range(0, s - 2 * i):
        print(n-i ,end= "" )
         
    # Increasing part.
    m = n - i + 1
    for l in range(0, i):
        print(m ,end= "" )
        m+=1
         
    print("")
     
# Lower Half
for i in range(int(s/2)-1,-1,-1):
 
    # Decreasing Part
    m = n
    for j in range(0, i):
        print(m ,end= "" )
        m-=1       
 
    # Constant Part.
    for k in range(0, s - 2 * i):
        print(n-i ,end= "" )
         
    # Decreasing Part
    m = n - i + 1
    for l in range(0, i):
        print(m ,end= "" )
        m+=1
         
    print("")

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [ ]:
'''
Print the pattern
Print the following pattern for the given number of rows.

Pattern for N = 5
 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10

Input format : N (Total no. of rows)
Output format : Pattern in N lines

Sample Input :
4
Sample Output :
 1  2  3  4
 9 10 11 12
13 14 15 16
 5  6  7  8
 '''

import math
n = int(input())

for i in range(math.ceil(n/2)):
   for j in range(1,n+1):
       print(n*2*i + j ,end = " ");
   print()
        
for i in range(n//2,0,-1):
   for j in range(1,n+1):
       print(n*(2*i-1) + j , end = " ")
   print()

4
1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8