**CONTENT PROBLEMS**

In [ ]:
'''
Code : Square Pattern

Print the following pattern for the given N number of rows.

Pattern for N = 4
4444
4444
4444
4444

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 50

Sample Input 1:
7
Sample Output 1:
7777777
7777777
7777777
7777777
7777777
7777777
7777777

Sample Input 2:
6
Sample Output 2:
666666
666666
666666
666666
666666
666666
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    while(j<=n):
        print(n, end='')
        j += 1
    print()
    i += 1

6
666666
666666
666666
666666
666666
666666

In [ ]:
'''
Code : Triangular Star Pattern

Print the following pattern for the given N number of rows.

Pattern for N = 4
*
**
***
****

Note : There are no spaces between the stars (*).

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 50

Sample Input 1:
5
Sample Output 1:
*
**
***
****
*****

Sample Input 2:
6
Sample Output 2:
*
**
***
****
*****
******
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print('*', end='')
        j += 1
    print()
    i += 1

5
*
**
***
****
*****

In [ ]:
'''
Code : Triangle Number Pattern

Print the following pattern for the given N number of rows.

Pattern for N = 4
1
22
333
4444

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 50

Sample Input 1:
5
Sample Output 1:
1
22
333
4444
55555

Sample Input 2:
6
Sample Output 2:
1
22
333
4444
55555
666666
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print(i, end='')
        j += 1
    print()
    i += 1

6
1
22
333
4444
55555
666666

In [ ]:
'''
Code : Reverse Number Pattern

Print the following pattern for the given N number of rows.

Pattern for N = 4
1
21
321
4321

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 50

Sample Input 1:
5
Sample Output 1:
1
21
321
4321
54321

Sample Input 2:
6
Sample Output 2:
1
21
321
4321
54321
654321
'''

n = int(input())

i = 1
while(i<=n):
    j = i
    while(j>=1):
        print(j, end='')
        j -= 1
    print()
    i += 1

6
1
21
321
4321
54321
654321

In [ ]:
'''
Code : Character Pattern

Print the following pattern for the given N number of rows.

Pattern for N = 4
A
BC
CDE
DEFG

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 13

Sample Input 1:
5
Sample Output 1:
A
BC
CDE
DEFG
EFGHI

Sample Input 2:
6
Sample Output 2:
A
BC
CDE
DEFG
EFGHI
FGHIJK
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    start_char = chr(ord('A') + i - 1)
    while(j<=i):
        charP = chr(ord(start_char) + j - 1)
        print(charP, end='')
        j += 1
    print()
    i += 1

5
A
BC
CDE
DEFG
EFGHI

In [ ]:
'''
Code : Interesting Alphabets

Print the following pattern for the given number of rows.

Pattern for N = 5
E
DE
CDE
BCDE
ABCDE

Input format :
N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 26

Sample Input 1:
8
Sample Output 1:
H
GH
FGH
EFGH
DEFGH
CDEFGH
BCDEFGH
ABCDEFGH

Sample Input 2:
7
Sample Output 2:
G
FG
EFG
DEFG
CDEFG
BCDEFG
ABCDEFG
'''

n = int(input())

temp = n
i = 1
while(i<=n):
    j = 1
    start_char = chr(ord('A') + temp - 1)
    while(j<=i):
        charP = chr(ord(start_char) + j - 1)
        print(charP, end='')
        j += 1
    temp -= 1
    print()
    i += 1

7
G
FG
EFG
DEFG
CDEFG
BCDEFG
ABCDEFG

**ASSIGNMENT PROBLEMS**

In [ ]:
'''
Number Pattern 1

Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
111
1111

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Sample Input :
5
Sample Output :
1
11
111
1111
11111
'''

n = int(input())

i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print('1', end='')
        j += 1
    print()
    i += 1

5
1
11
111
1111
11111

In [ ]:
'''
Number Pattern 2

Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
202
3003

Input format :
Integer N (Total no. of rows)

Contraints:
1 <= n <= 50

Output format :
Pattern in N lines

Sample Input :
5
Sample Output :
1
11
202
3003
40004
'''

# Solution-1
n = int(input())
i = 1
while(i<=n): 
    j = 1
    while(j<=i):
        if(i==1):
            print("1", end='')
        elif(j==1 or j==i):
            print(i-1, end='')
        else:
            print(0, end='')
        j += 1
    print()
    i += 1

# Solution-2
n = int(input())
print('1')
i = 1
while(i<n):
    print(str(i) + '0'*(i-1) + str(i))
    i += 1

In [ ]:
'''
Number Pattern 3

Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
121
1221

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Sample Input :
5
Sample Output :
1
11
121
1221
12221
'''

n = int(input())
i = 1
while(i<=n): 
    j = 1
    while(j<=i):
        if(i==1):
            print("1", end='')
        elif(j==1 or j==i):
            print(1, end='')
        else:
            print(2, end='')
        j += 1
    print()
    i += 1

5
1
11
121
1221
12221

In [ ]:
'''
Number Pattern

Print the following pattern for the given N number of rows.

Pattern for N = 4
1234
123
12
1

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Sample Input :
5
Sample Output :
12345
1234
123
12
1
'''

n = int(input())
i = n
while(i>=1):
    j = 1
    while(j<=i):
        print(j, end='')
        j += 1
    print()
    i -= 1

5
12345
1234
123
12
1

In [ ]:
'''
Alpha Pattern

Print the following pattern for the given N number of rows.

Pattern for N = 3
 A
 BB
 CCC

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 26

Sample Input 1:
7
Sample Output 1:
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG

Sample Input 2:
6
Sample Output 2:
A
BB
CCC
DDDD
EEEEE
FFFFFF
'''

n = int(input())
i = 1
while(i<=n):
    j = 1
    charP = chr(ord('A') + i - 1)
    while(j<=i):
        print(charP, end='')
        j += 1
    print()
    i += 1

6
A
BB
CCC
DDDD
EEEEE
FFFFFF